<table class="table" *ngIf="subCollection$ | async as collection">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Quantité</th>
      <th scope="col">En stock</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Note</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let products of collection">
      <th scope="row">{{products.id}}</th>
      <td>{{products.name}}</td>
      <td>{{products.price}}</td>
      <td>{{products.quantity}}</td>
      <td>{{products.instock}}</td>
      <!-- <td>{{products.Catégorie.}}</td> -->
      <td>{{products.rating}}</td>
      <td><a class="bi-pencil-square" routerLink="../modifier"></a></td>
      <td class="bi-trash-fill" style="color: red; cursor: pointer;" (click)="onClickDelete(products.id)"></td>
    </tr>
  </tbody>
</table>
